*__pycache__/
*.py[cod]
*.ipynb_checkpoints
*.swp
*.zip
*.out
*.log


data/pickles/*
data/csvs/*
saved_models/tfidf_model/*
saved_models/word_embeddings/*
training/results/*

!saved_models/word-embeddings/.gitkeep 
!saved_models/tfidf_model/.gitkeep
!data/csvs/.gitkeep
!data/pickles/.gitkeep
!figures/.gitkeep
